@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/Profile.cshtml";
}
@model Shopping_And_Bidding.Models.Product

<header>
    <div class="row" style="margin-top:30px">
        <div class="col-md-3">
            <a href="/User/Index">
                <img src="~/Images/Bidding-for-Good-Logo[1].jpg"
                     style="border-radius:20px;border:solid"
                     width="150px" height="125px" />
            </a>
        </div>
        <div class="col-md-8">
            <div class="wrapper" style="margin-top:5px">
                <div class="bannerad">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:100px"
                         data-ad-client="ca-pub-4560135486422930"
                         data-ad-slot="8876535802"></ins>
                    <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <br /><br />
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="/Admin/FileUpload2" style="border:solid;border-radius:10px">
        <br />
        <div class="form-group row" style="border-bottom:dotted;border-radius:10px;margin:0px">
            <div class="col-sm-6 col-sm-offset-1">
                <h3>Product details</h3>
            </div>
        </div><br />
        <div class="form-group">
            <label for="inputName3" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Pname" id="Pname" required="required" placeholder="Product Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputcatagory3" class="col-sm-2 control-label">Select Catagory</label>
            <div class="col-sm-10">
                <select id="Catagory" required="required" name="Catagory">
                    <option value="0">-Select-</option>
                    <option id="mobile" value="Mobile">Mobiles</option>
                    <option id="laptop" value="Laptop">Laptops</option>
                    <option id="electronic" value="Electronic">Electronics</option>
                    <option id="fashion" value="Fashion">Fashion</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputuploadImg3" class="col-sm-2 control-label">Upload Image</label>
            <div class="col-sm-10">
                <input type="file" name="file" id="file" required="required" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputpassword3" class="col-sm-2 control-label">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" required="required" name="price" id="price" placeholder="price">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="form-control" name="user_id" id="user_id" value="@ViewBag.id">
            </div>
        </div>
        <div class="form-group">
            <label for="inputdatetime3" class="col-sm-2 control-label">Quantity</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" required="required" name="Quantity" id="Quantity">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" style="background-color:darkorange;color:whitesmoke">Submit Post</button>
            </div>
        </div>
    </form>
</section>
<script>
    
</script>