@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authenticate</title>
</head>
<body>
    <div>
        @{
            bool flag = Model;
            if (!flag)
            {
                <h3>Login Failed</h3>
            }
        }
    </div>
</body>
</html>
