@using Shopping_And_Bidding.Models;
@{
    ViewBag.Title = "BidForGood";
    if ((user)Session["user"] != null)
    {
        Layout = "~/Views/Shared/Profile.cshtml";
    }
    else if ((user)Session["user"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<header>
    <div class="row" style="margin-top:30px">
        <div class="col-md-3">
            <a href="/User/Index">
                <img src="~/Images/Bidding-for-Good-Logo[1].jpg"
                     style="border-radius:20px;border:solid"
                     width="150px" height="125px" />
            </a>
        </div>
        <div class="col-md-8">
            <div class="wrapper" style="margin-top:5px">
                <div class="bannerad">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:100px"
                         data-ad-client="ca-pub-4560135486422930"
                         data-ad-slot="8876535802"></ins>
                    <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <div class="col-md-6">
        <h3>New To BidForGood?</h3><h3 style="color:darkorange">Get Started Here.</h3>
        <br /><br />
        <p>
            You can win all sorts of popular products at incredibly low prices. Look at our homepage to see what products are up for auction right now, and if one catches your eye, buy some bids for a low price! When you place a bid, we add a maximum of 50-60 seconds to the timer - to give someone else the chance to bid if they're interested. This is similar to the "Going Once...Twice...SOLD" approach of auctions.
            If no one else bids and the timer reaches zero, you’ve won a sweet deal on BidForGOod! If you don't win the auction, you never have to go away empty handed. Any time after you've placed your first bid in an auction, you can choose to buy the product for a discount using the Buy Now feature. This will help limit your losses so you don’t have to leave all your bids on the table. You’ll never have to pay more than the Value Price for any products on BidForGood
        </p>
    </div>
</div>