@using Shopping_And_Bidding.Models;
@{
    ViewBag.Title = "Live Auction";
    if ((user)Session["user"] != null)
    {
        Layout = "~/Views/Shared/Profile.cshtml";
    }
    else if ((user)Session["user"] == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
@model List<Post>
<header>
    <div class="row" style="margin-top:30px">
        <div class="col-md-3">
            <a href="/User/Index">
                <img src="~/Images/Bidding-for-Good-Logo[1].jpg"
                     style="border-radius:20px;border:solid"
                     width="150px" height="125px" />
            </a>
        </div>
        <div class="col-md-8">
            <div class="wrapper" style="margin-top:5px">
                <div class="bannerad">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:100px"
                         data-ad-client="ca-pub-4560135486422930"
                         data-ad-slot="8876535802"></ins>
                    <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="row" style="margin:auto">
        <div class="nav navbar col-lg-12 col-lg-offset-0" style="border-radius:10px;border:solid;border-width:1px;background-color:#5b5353">
            <ul class="nav navbar-nav glyphicon-triangle-bottom">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" style="margin-left:30px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="color:royalblue">Mobile <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="/Product/Sony">Sony Mobile</a></li>
                        <li><a href="/Product/Lg">Lg Mobile</a></li>
                        <li><a href="/Product/Apple">Apple Mobile</a></li>
                        <li><a href="/Product/Samsung">Samsung Mobile</a></li>
                        <li><a href="/Product/HTC">HTC Mobile</a></li>
                        <li><a href="/Product/Huawei">Huawei Mobile</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:royalblue">Laptops&Tablets <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Product/DELL">Dell Laptops</a></li>
                        <li><a href="/Product/HP">Hp Laptops</a></li>
                        <li><a href="/Product/ACCER">Accer Laptops</a></li>
                        <li><a href="/Product/LENEVO">Lenevo Laptops</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:royalblue">Electronics <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Product/AirConditioner">Air Conditioner</a></li>
                        <li><a href="/Product/Refrigrator">Refrigrator</a></li>
                        <li><a href="/Product/LEDTV">LED TV</a></li>
                        <li><a href="/Product/Fan">Fans</a></li>
                        <li><a href="/Product/Kitchen">Kitchen Items</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:royalblue">Fashion <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Product/Shoes">Shoes</a></li>
                        <li><a href="/Product/Jewellery">Jewellery</a></li>
                        <li><a href="/Product/Watch">Watch</a></li>
                        <li><a href="/Product/Tshirts">T-shirts</a></li>
                        <li><a href="/Product/Bag">Bags & Luggage</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <h3 style="color:darkorange">Live Auctions</h3>
@if (Model.Count() == 0)
{
    <div class="row">
        <div class="col-md-12"><h3 style="margin-left:35%;font:bolder">No Results Found</h3></div>
    </div>
}
else
{
    <br /><br />
            <div class="row" id="posts" style="margin:auto">

                @foreach (Post p in Model)
                {
                    <div onload="f2()" id="post_data" class="col-md-3" style="margin:auto;border:dotted;border-radius:10px;border-width:1px">
                        <h4 style="color:crimson;margin-left:30%">@p.Title</h4>
                        <a class="fancybox" rel="group" href="~/Images/@p._Image">
                            <img style="margin-left:10%" src="~/Images/@p._Image" width="200px" height="200px" />
                        </a><br />
                        <h2 id="showtime" class="counter" style="color:red;margin-left:20%"></h2>
                        <div id="pricediv_@p.PtId">
                            <h3 id="price_@(p.PtId)" style="color:green;margin-left:27%">Rs.@p.Price</h3>
                        </div>
                        @if ((user)Session["user"] != null)
                        {
                            <button type="button" style="background-color:darkorange;color:whitesmoke;margin-left:30%" class="addpost btn btn-default panel-footer" data-toggle="modal" data-id="@p.PtId" data-target="#myModal"> BidNow </button>
                        }
                        else if ((user)Session["user"] == null)
                        {
                            <a href="/Login/Login"><input type="button" value="BidNow" style="background-color:darkorange;color:white;margin-left:30%" class="btn btn-default" /></a>
                        }
                    </div>
                }
            </div>
}
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox()
        });
    </script>
</section>